*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
     background-color: antiquewhite;
     padding: 10px;
}

main{
    display: grid;
    grid-template-rows: 100px 500px 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

header, nav, article, footer{
    padding: 20px;
    font-size: 3em;
    display:flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: rgb(239, 46, 46);
    grid-column-start:2;
    grid-column-end: 4;

}
nav{
    background-color:rgb(193, 0, 0);
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end: 4;
}

article{
    background-color: rgb(155, 0, 0);
    grid-column-start:2;
    grid-column-end: 4;
}
footer{
    background-color: rgb(107, 19, 19);
    grid-column-start:2;
    grid-column-end: 4;
}